<div class='upload-container col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 mt-5'>
  <h2 class='upload-header my-2 py-2 text-center'>
    Your event was uploaded successfully!
  </h2>
  <hr>
  <p class='text-center'>Your event has been added to a queue for manual review. Once the review is completed, you should see your event listed here.</p>
  <div class='row'>
    <p class="lead mx-auto my-5">
      <%= link_to 'Ride on!', root_path, class: 'btn btn-primary btn-lg', role: 'button' %>
    </p>
  </div>
</div>