body {
  background: image_url('gravel_texture.png');
}

.navbar-bot-status {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.link {
  color: white;
}

.link:hover {
  text-decoration: none;
  color: white;
}